.button {
    width: 190px;
    height: 46px;
    font-family: $font-family-secondary;
    text-transform: uppercase;
    color: #ffffff;
    background-color: $color-blue-1;
    border: 1px solid $color-blue-3;
    letter-spacing: 0.64px;
    border-radius: 4px;
}
