.form {
    display: flex;
    flex-direction: column;

    &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.450625rem;

        &:first-of-type {
            margin-bottom: 3.075625rem;

            @include responsive(phone) {
                margin-bottom: 0;
            }
        }

        @include responsive(phone) {
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 0;
        }

        &--submitArea {
            display: flex;
            justify-content: flex-start;

            @include responsive(phone) {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        // flex: 0 1 25.625rem;
        flex: 1;

        &:first-of-type {
            margin-right: 1.875rem;

            @include responsive(phone) {
                margin-right: 0;
            }
        }

        @include responsive(phone) {
            margin-bottom: 2rem;
        }

        &--textArea {
            flex: 0 0 100%;
            display: flex;
            flex-direction: column;

            @include responsive(phone) {
                margin-bottom: 2.975rem;
            }

            & label {
                margin-bottom: 0.674375rem;
            }

            & textarea {
                height: 6.625rem;
                width: 100%;
                border: 1px solid $color-grey-light-2;
                resize: none;
                border-radius: 4px;
                font-family: $font-family-secondary;
                font-weight: 500;
                font-size: $font-size-medium;
                color: $color-grey-dark-2;
                padding: 0.82875rem 0 0.67125rem 0.884375rem;

                &:focus {
                    outline: none;
                    border: 1px solid $color-blue-2;
                }
            }
        }
    }

    &__label {
        margin-bottom: 0.674375rem;

        & span {
            color: $color-red-1;
        }
    }

    &__input {
        padding: 0.82875rem 0 0.67125rem 0.884375rem;
        border: 1px solid $color-grey-light-2;
        border-radius: 4px;
        font-family: $font-family-secondary;
        font-weight: 500;
        font-size: $font-size-medium;
        color: $color-grey-dark-2;
        // width: 25.625rem;

        @include responsive(phone) {
            width: 100%;
        }

        &::placeholder {
            color: $color-grey-dark-2;
            opacity: 0.3;
        }

        &:focus {
            outline: none;
            border: 1px solid $color-blue-2;
        }

        &--error {
            background-color: $color-pink-1;
            color: $color-red-1;
            border: 1px solid $color-red-1;
        }
    }

    &__errorMsg {
        background-color: $color-red-1;
        color: #fff;
        font-size: $font-size-small;
        padding-left: 0.480625rem;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &__button {
        margin-right: 8.776875rem;

        @include responsive(phone) {
            margin-right: 0;
            margin-bottom: 1.5rem;
        }
    }

    &__disclaimer {
        font-size: $font-size-small;
        color: $color-grey-dark-3;

        & span {
            color: $color-red-1;
        }
    }
}

// & label {
//     margin-bottom: 0.674375rem;

//     & span {
//         color: $color-red-1;
//     }
// }

// & input {
//     padding: 0.82875rem 0 0.67125rem 0.884375rem;
//     border: 1px solid $color-grey-light-2;
//     border-radius: 4px;
//     font-family: $font-family-secondary;
//     font-weight: 500;
//     font-size: $font-size-medium;
//     color: $color-grey-dark-2;
//     // width: 25.625rem;

//     @include responsive(phone) {
//         width: 100%;
//     }

//     &::placeholder {
//         color: $color-grey-dark-2;
//         opacity: 0.3;
//     }

//     &:focus {
//         outline: none;
//         border: 1px solid $color-blue-2;
//     }
