.success {
    @include sidePadding;

    background-color: #4bca81;
    height: 10rem;
    color: #fff;
    font-size: $font-size-medium;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
