@import url(https://fonts.googleapis.com/css?family=Nunito);*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  font-family: Roboto;
}

body {
  box-sizing: border-box;
  color: #444444;
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.section-form {
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.contact {
  background-color: #fff;
  flex: 0 1 75%;
}

.contact__title {
  color: #1c89c6;
  font-size: 2rem;
  font-weight: 500;
}

.contact__images {
  background-color: #f8f8f8;
  height: 200px;
}

.contact__footer {
  background-color: #f8f8f8;
}

