// Body
// $body-bg: #f8fafc;

// Typography
$font-family-primary: Roboto;
$font-family-secondary: Montserrat;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-small: 0.75rem; //12px
$font-size-base: 1rem; //16px
$font-size-medium: 1.125rem; //18px;
$font-size-heading: 2rem; //32px;

// Colors
$color-grey-dark-1: #444444;
$color-grey-dark-2: #3c3c3c;
$color-grey-dark-3: #858585;

$color-grey-light-1: #e7e7e7;
$color-grey-light-2: #c1c1c1;
$color-grey-light-3: #f1f1f1;
$color-grey-light-4: #f8f8f8;

$color-blue-1: #1c89c6;
$color-blue-2: #7bcaf6;
$color-blue-3: #398ab7;

$color-red-1: #be3600;
$color-pink-1: #fff4f0;
// $color-pink-2: #eec1b0;
